@font-face {
    font-family: 'Hack';
    src: url('Hack-Regular.ttf');
}

body {
    font-family: Hack;
    background-color: #1b1b1b;
    padding: 0;
    margin: 0;
    color:white;
    margin-top: 10px;
    line-height: 10%;
}
p{
    font-family: Hack;
    margin-left: 20px;
    font-size: 0.9em;
    line-height: 1.5em;
}
input{
    font-family: Hack;
    background:transparent;
    border:none;
    outline:none;
    color: white;
    width: 80%;
}
#dateTime{
    font-size: 80%;
    font-style: italic;
}

#dir{
    color: #6ABEDB;
}

#root{
    color: #8BBE42;
}